<div class="container-fluid">
  <div class="row">
    <h1 class="col text-center">Visualizando Dados</h1>
  </div>

  <div class="row">

<!--    tabela -->
    <div class="col-sm-6">
      <h2>Tabela</h2>
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th scope="col">
              <input type="text" (change)="refresh()" class="form-control-plaintext form-control-sm font-weight-bold" value="Nome">
            </th>
            <th scope="col">
              <input type="text" (change)="refresh()" class="form-control-plaintext form-control-sm font-weight-bold" value="Quantidade">
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let d of dadosTabela">
            <td>
              <input type="text" (change)="refresh()" class="form-control-plaintext form-control-sm" [(ngModel)]="d.name">
            </td>
            <td>
              <input type="text" (change)="refresh()" class="form-control-plaintext form-control-sm" [(ngModel)]="d.value">
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <button type="button" class="btn btn-primary" (click)="addLine()">
                <i class="bi bi-plus-circle"></i>
                Nova linha
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

<!--    grafico -->
    <div class="col-sm-6 half-square">
      <h2>Gráfico</h2>
      <ngx-charts-pie-chart
        [results]="dadosGrafico"
        [labels]="true">
      </ngx-charts-pie-chart>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
